parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingIterableValueType: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/symplify/phpstan-rules/config/services/services.neon

services:
    -
        class: Symplify\PHPStanRules\Rules\Explicit\PropertyTypeDeclarationSeaLevelRule
        tags: [phpstan.rules.rule]
        arguments:
            minimalLevel: 1

    -
        class: Symplify\PHPStanRules\Rules\Explicit\ParamTypeDeclarationSeaLevelRule
        tags: [phpstan.rules.rule]
        arguments:
            minimalLevel: 1

    -
        class: Symplify\PHPStanRules\Rules\Explicit\ReturnTypeDeclarationSeaLevelRule
        tags: [phpstan.rules.rule]
        arguments:
            minimalLevel: 1

    -
        class: Symplify\PHPStanRules\Collector\FunctionLike\ParamTypeSeaLevelCollector
        tags: [phpstan.collector]
    -
        class: Symplify\PHPStanRules\Collector\FunctionLike\ReturnTypeSeaLevelCollector
        tags: [phpstan.collector]
    -
        class: Symplify\PHPStanRules\Collector\ClassLike\PropertyTypeSeaLevelCollector
        tags: [phpstan.collector]
