parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingIterableValueType: false

    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        print_suggestions: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/tomasvotruba/type-coverage/config/extension.neon
